@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* base */
body {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}
/* ==== */

/* app / sections */
.app {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.content {
    position: relative;
}

.section {
    position: absolute;
}
/* ============== */

/* sidebar */
.sidebar__nav__el {
    display: block;
}

.sidebar__nav__el--active {
    text-decoration: underline;
}
/* ======= */